#style table, tr, td {
    border: 1px solid
}
#Amarillis {
    background-color: rgb(215, 12, 12);
}
#imgamerillis {
    background-color: brown;
}
#Eucalyptus {
    background-color: rgb(90, 130, 47);
}
#Blauweregen {
    background-color: blue;
}
#Goudsbloem {
    background-color: rgb(221, 205, 24);
}
#Chrysant {
    background-color: rgb(227, 131, 131);
}
#Hortensia {
    background-color: rgb(74, 74, 151);
}
#Dahlia {
    background-color: rgb(185, 57, 138);
}
#Madeliefje {
    background-color: aliceblue;
}
#plaatje {
    background-color: red;
}
#plaatje2{
    background-color: blue;
}
#plaatje3{
    background-color: aqua;
}
#plaatje4{
    background-color: aquamarine;
}
#plaatje5{
    background-color: blueviolet;
}
#plaatje6{
    background-color: blanchedalmond;
}
#plaatje7{
    background-color: gold;
}
#plaatje8{
    background-color: forestgreen;
}